<meta charset="utf-8">
<title>{% if title %}{{ title }} &#8211; {% endif %}{{ title }}</title>
{% if excerpt %}<meta name="description" content="{{ excerpt | striphtml }}">{% endif %}
<meta name="keywords" content="{{ tags | join(', ') }}">

{% include "_snippets/_open-graph.twig" %}

{% if owner.google.verify %}<!-- Webmaster Tools verfication -->
<meta name="google-site-verification" content="{{ owner.google.verify }}">{% endif %}

{% set canonical %}{% if permalink contains '.html' %}{{ url }}{% else %}{{ url | remove:'index.html' | strip_slash }}{% endif %}{% endset %}
<link rel="canonical" href="{{ canonical }}">
<link href="/feed.xml" type="application/atom+xml" rel="alternate" title="{{ title }} Feed">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- For all browsers -->
<link rel="stylesheet" href="/assets/css/main.css">

<meta http-equiv="cleartype" content="on">

<!-- HTML5 Shiv and Media Query Support -->
<!--[if lt IE 9]>
	<script src="/assets/js/vendor/html5shiv.min.js"></script>
	<script src="/assets/js/vendor/respond.min.js"></script>
<![endif]-->

<!-- Modernizr -->
<script src="/assets/js/vendor/modernizr-2.7.1.custom.min.js"></script>

<!-- Icons -->
<!-- 16x16 -->
<link rel="shortcut icon" href="/favicon.ico">
<!-- 32x32 -->
<link rel="shortcut icon" href="/favicon.png">
