<meta charset="utf-8">
<title>{% if title %}{{ title }} &#8211; {% endif %}{{ title }}</title>
{% if excerpt %}<meta name="description" content="{{ excerpt|striphtml }}">{% endif %}

{% include "_snippets/_open-graph.twig" %}

{% if owner.google.verify %}<!-- Webmaster Tools verfication -->
<meta name="google-site-verification" content="{{ owner.google.verify }}">{% endif %}

<link href="/feed.xml" type="application/atom+xml" rel="alternate" title="{{ title }} Feed">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

{# Bootstrap style #}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<link rel="stylesheet" href="/assets/css/style.css">

{# Font Awesome #}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<meta http-equiv="cleartype" content="on">

<!-- HTML5 Shiv and Media Query Support -->
<!--[if lt IE 9]>
	<script src="/assets/js/vendor/html5shiv.min.js"></script>
	<script src="/assets/js/vendor/respond.min.js"></script>
<![endif]-->

<!-- Modernizr -->
<script src="/assets/js/vendor/modernizr-2.7.1.custom.min.js"></script>

<!-- Icons -->
<!-- 16x16 -->
<link rel="shortcut icon" href="/favicon.ico">
<!-- 32x32 -->
<link rel="shortcut icon" href="/favicon.png">
