<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _snippets/_head.twig %}
</head>

<body class="page">

{% include _snippets/_browser-upgrade.twig %}

{% include _snippets/_navigation.twig %}

{% if image.feature %}
  <div class="image-wrap">
  <img src=
    {% if image.feature contains 'http' %}
      "{{ image.feature }}"
    {% else %}
      "{{ public_url }}/images/{{ image.feature }}"
    {% endif %}
  alt="{{ title }} feature image">
  {% if image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ image.creditlink }}">{{ image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _snippets/_author-bio.twig %}
  </div>
  <article class="page">
    <h1>{{ title }}</h1>
    <div class="article-wrap">
      {{ content }}
      {% if share != false %}
        <hr />
        {% include _snippets/_social-share.twig %}
      {% endif %}
    </div><!-- /.article-wrap -->
    {% if owner.disqus-shortname and comments == true %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _snippets/_footer.twig %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _snippets/_scripts.twig %}

</body>
</html>
