<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
  {% include '_snippets/_head.twig' %}
</head>

<body class="post">
    <div id="main" role="main" class="container">
      <div class="article-author-side">
        {% include '_snippets/_author-bio.twig' %}
      </div>
      <article class="post">
        <div class="headline-wrap">
          <h1><a class="back-to-home" title="Back to homepage" href="/">🔙</a>
          {% if link %}
            <a href="{{ link }}">{{ title }}</a>
          {% else %}
            <a href="{{ url }}" rel="bookmark" title="{{ title }}">{{ title }}</a>
          {% endif %}
          </h1>
        </div><!--/ .headline-wrap -->
        <div class="article-wrap">
          {{ content }}
          <hr />
          {% include "_snippets/_footer-banner.twig" %}
          <hr />
          <footer role="contentinfo">
            {% if share != false %}{% include _snippets/_social-share.twig %}{% endif %}
            <p class="byline"><strong>{{ title }}</strong> was published on <time datetime="{{ date|date_to_xmlschema }}">{{ date|date( "%B %d, %Y") }}</time>{% if modified %} and last modified on <time datetime="{{ modified|date("%Y-%m-%d") }}">{{ modified|date( "%B %d, %Y") }}</time>{% endif %}.</p>
          </footer>
        </div><!-- /.article-wrap -->
      {% if owner.disqus-shortname and comments == true %}
        <section id="disqus_thread"></section><!-- /#disqus_thread -->
      {% endif %}
      </article>
    </div><!-- /#main -->

    <div class="footer-wrap">
      {% if related_posts.size > 0 %}
      <div class="related-articles">
      <h4>You might also enjoy <small class="pull-right">(<a href="/posts/">View all posts</a>)</small></h4>
        <ul>
        {% for post in related_posts %}
          {% if loop.index <= 3 %}
              <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
        <hr>
      </div>
      {% endif %}
      <footer>
        {% include '_snippets/_footer.twig' %}
      </footer>
    </div>

    {% include '_snippets/_scripts.twig' %}
</body>
</html>
