layout: "_layouts/default.twig"
---

<h3>{% if title %}{{ title }} &#8211; {% endif %}{{ title }}</h3>

{% for post in posts %}
    {% if loop.index <= 5 %}
        <article>
            <h2><a href="/{{ post.relativeUrl }}/" title="{{ post.title }}">{{ post.title }}</a></h2>
            <p>{{ post.excerpt|striphtml|truncate(160) }}</p>
        </article>
    {% endif %}
{% endfor %}

<a href="/posts/" class="button">See all posts</a>
